name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 0 * * 0'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 50
    strategy:
      fail-fast: false
      matrix:
        scala:
        - "2.12.x"
        - "2.13.x"
        - "3.x"
        - "latest"
        java:
        - 8
        - 21
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        java-version: ${{matrix.java}}
        distribution: temurin
    - uses: sbt/setup-sbt@a627500d27445f8c5021755a439829b6e78e3358 # v1.1.15
    - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v6.4.8
    - if: ${{ matrix.scala == 'latest' }}
      run: sbt -v
           scalafmtSbtCheck
           "++ 3.6.4!"
           "scalafmtCheckAll"
           "Test/compile"
           "test"
    - if: ${{ matrix.scala != 'latest' }}
      run: sbt -v
           scalafmtSbtCheck
           "++ ${{ matrix.scala }} -v"
           "scalafmtCheckAll"
           "Test/compile"
           "scalafixAll --check"
           "test"
  wasm:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        java-version: 21
        distribution: temurin
    - uses: sbt/setup-sbt@a627500d27445f8c5021755a439829b6e78e3358 # v1.1.15
    - uses: actions/setup-node@v6
      with:
        node-version: 22
    - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v6.4.8
    - run: sbt -v
           -Dscala_js_wasm
           "project allJS"
           "+ Test/compile"
           "+ test"
