name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 0 * * 0'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        include:
          - java: 8
            scala: 2
          - java: 8
            scala: 3
          - java: 11
            scala: 2
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: olafurpg/setup-scala@v12
      with:
        java-version: "adopt@1.${{ matrix.java }}"
    - uses: coursier/cache-action@v6
    - run: |
        case ${{ matrix.scala }} in
          2)
            sbt -v -sbt-opts .github/workflows/.sbtopts \
            "+ Test/compile" \
            "+testOnly -- timefactor 5 exclude travis"
            ;;
          3)
            sbt -v -sbt-opts .github/workflows/.sbtopts \
            '++ 3.0.2-RC1!' \
            compile \
            "all catsEffectJVM/Test/compile coreJVM/Test/compile doobie/Test/compile monixJVM/Test/compile scalazJVM/Test/compile twitter/Test/compile" \
            "all catsEffectJVM/test coreJVM/test doobie/test scalazJVM/test twitter/test" \
            "monixJVM/testOnly -- timefactor 5 exclude travis"
            ;;
          *)
            echo "unknown scala version"
            exit 1
        esac
  push_gh_pages:
    needs: test
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
    - name: Install pandoc
      run: |
        wget https://github.com/jgm/pandoc/releases/download/2.13/pandoc-2.13-1-amd64.deb
        sudo dpkg -i pandoc-2.13-1-amd64.deb
        pandoc --version
    - uses: olafurpg/setup-scala@v12
      with:
        java-version: "adopt@1.8"
    - uses: actions/checkout@v2.3.4
    - uses: coursier/cache-action@v6
    - name: Generate html
      run: sbt -v "testOnly *index* -- html html.search html.toc html.nostats html.outdir target/specs2-reports/site all"
    - name: Push to gh-pages
      if: ${{ !github.event.repository.fork && github.ref == 'refs/heads/master' && github.event_name == 'push' }}
      uses: JamesIves/github-pages-deploy-action@4.1.4
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: target/specs2-reports/site
        CLEAN: true
