name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 0 * * 0'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 50
    strategy:
      fail-fast: false
      matrix:
        scala:
        - "2.12.x"
        - "2.13.x"
        - "3.x"
        - "latest"
        java:
        - 8
        - 21
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        java-version: ${{matrix.java}}
        distribution: temurin
    - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1.1.14
    - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v6.4.8
    - if: ${{ matrix.scala == 'latest' }}
      run: sbt -v
           scalafmtSbtCheck
           "++ 3.6.4!"
           "scalafmtCheckAll"
           "Test/compile"
           "test"
    - if: ${{ matrix.scala != 'latest' }}
      run: sbt -v
           scalafmtSbtCheck
           "++ ${{ matrix.scala }} -v"
           "scalafmtCheckAll"
           "Test/compile"
           "scalafixAll --check"
           "test"
  wasm:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        java-version: 21
        distribution: temurin
    - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1.1.14
    - uses: actions/setup-node@v6
      with:
        node-version: 22
    - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v6.4.8
    - run: sbt -v
           -Dscala_js_wasm
           "project allJS"
           "+ Test/compile"
           "+ test"
