name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 0 * * 0'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 50
    strategy:
      fail-fast: false
      matrix:
        scala:
        - "3.x"
        - "latest"
        java:
        - 8
        - 21
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
      with:
        java-version: ${{matrix.java}}
        distribution: temurin
    - uses: sbt/setup-sbt@234370af1319038bf8dc432f8a7e4b83078a1781 # v1.1.11
    - uses: coursier/cache-action@4e2615869d13561d626ed48655e1a39e5b192b3c # v6.4.7
    - if: ${{ matrix.scala == 'latest' }}
      run: sbt -v
           scalafmtSbtCheck
           "++ 3.7.2!"
           "scalafmtCheckAll"
           "Test/compile"
           "test"
    - if: ${{ matrix.scala != 'latest' }}
      run: sbt -v
           scalafmtSbtCheck
           "++ ${{ matrix.scala }} -v"
           "scalafmtCheckAll"
           "Test/compile"
           "all scalafixCheckAll scalafixConfigRuleNamesSortCheck"
           "test"
  wasm:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
      with:
        java-version: 21
        distribution: temurin
    - uses: sbt/setup-sbt@234370af1319038bf8dc432f8a7e4b83078a1781 # v1.1.11
    - uses: actions/setup-node@v4
      with:
        node-version: 22
    - uses: coursier/cache-action@4e2615869d13561d626ed48655e1a39e5b192b3c # v6.4.7
    - run: sbt -v
           -Dscala_js_wasm
           "project allJS"
           "+ Test/compile"
           "+ test"
  push_gh_pages:
    needs:
    - test
    - wasm
    timeout-minutes: 30
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'atnos-org' && github.ref == 'refs/heads/master' && github.event_name == 'push' }}
    steps:
    - uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
      with:
        java-version: 8
        distribution: temurin
    - uses: sbt/setup-sbt@234370af1319038bf8dc432f8a7e4b83078a1781 # v1.1.11
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - name: Install pandoc
      run: ./.github/install_pandoc.sh
    - uses: coursier/cache-action@4e2615869d13561d626ed48655e1a39e5b192b3c # v6.4.7
    - name: Generate html
      run: ./.github/gen_doc.sh
    - name: Push to gh-pages
      uses: JamesIves/github-pages-deploy-action@6c2d9db40f9296374acc17b90404b6e8864128c8 # v4.7.3
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: target/specs2-reports/site
        CLEAN: true
