name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 0 * * 0'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 50
    strategy:
      fail-fast: false
      matrix:
        scala:
        - "3.x"
        java:
        - 8
        - 25
        include:
        - java: 25
          scala: "latest"
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        java-version: ${{matrix.java}}
        distribution: temurin
    - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1.1.14
    - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v6.4.8
    - if: ${{ matrix.scala == 'latest' }}
      run: sbt -v
           scalafmtSbtCheck
           "++ 3.8.0-RC2!"
           "scalafmtCheckAll"
           "all allJVM/Test/compile allJS/Test/compile"
           "allJVM/test"
           "allJS/test"
    - if: ${{ matrix.scala != 'latest' }}
      run: sbt -v
           scalafmtSbtCheck
           "++ ${{ matrix.scala }} -v"
           "scalafmtCheckAll"
           "Test/compile"
           "all scalafixCheckAll scalafixConfigRuleNamesSortCheck"
           "test"
  wasm:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        java-version: 21
        distribution: temurin
    - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1.1.14
    - uses: actions/setup-node@v6
      with:
        node-version: 22
    - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v6.4.8
    - run: sbt -v
           -Dscala_js_wasm
           "project allJS"
           "+ Test/compile"
           "+ test"
  push_gh_pages:
    needs:
    - test
    - wasm
    timeout-minutes: 30
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'atnos-org' && github.ref == 'refs/heads/master' && github.event_name == 'push' }}
    steps:
    - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        java-version: 8
        distribution: temurin
    - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1.1.14
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Install pandoc
      run: ./.github/install_pandoc.sh
    - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v6.4.8
    - name: Generate html
      run: ./.github/gen_doc.sh
    - name: Push to gh-pages
      uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23 # v4.7.4
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: target/specs2-reports/site
        CLEAN: true
