name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 0 * * 0'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        include:
          - java: 8
          - java: 11
          - java: 17
    steps:
    - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
    - uses: actions/setup-java@1df8dbefe2a8cbc99770194893dd902763bee34b # v3.9.0
      with:
        java-version: ${{matrix.java}}
        distribution: temurin
    - uses: coursier/cache-action@045c1dab7ed65bc3fdec6b16c413c8d0001f9217 # v6.4.2
    - run: sbt -v
           scalafmtSbtCheck
           "+ scalafmtCheckAll"
           "+ Test/compile"
           "+ test"
  push_gh_pages:
    needs: test
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
    - name: Install pandoc
      run: |
        wget https://github.com/jgm/pandoc/releases/download/2.17.0.1/pandoc-2.17.0.1-1-amd64.deb
        sudo dpkg -i pandoc-2.17.0.1-1-amd64.deb
        pandoc --version
    - uses: actions/setup-java@1df8dbefe2a8cbc99770194893dd902763bee34b # v3.9.0
      with:
        java-version: 8
        distribution: temurin
    - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
    - uses: coursier/cache-action@045c1dab7ed65bc3fdec6b16c413c8d0001f9217 # v6.4.2
    - name: Generate html
      run: sbt -v "testOnly *index* -- html html.search html.toc html.nostats html.outdir target/specs2-reports/site all"
    - name: Push to gh-pages
      if: ${{ github.repository_owner == 'atnos-org' && github.ref == 'refs/heads/master' && github.event_name == 'push' }}
      uses: JamesIves/github-pages-deploy-action@ba1486788b0490a235422264426c45848eac35c6 # v4.4.1
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: target/specs2-reports/site
        CLEAN: true
