name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 0 * * 0'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 50
    strategy:
      fail-fast: false
      matrix:
        scala:
        - "2.12.x"
        - "2.13.x"
        - "3.x"
        - "latest"
        java:
        - 8
        - 21
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4.7.0
      with:
        java-version: ${{matrix.java}}
        distribution: temurin
    - uses: sbt/setup-sbt@8ee7ec888f2a1af33ba66f994c4fb05aaf23e7d0 # v1.1.6
    - uses: coursier/cache-action@142d2738bd29f0eb9d44610828acb3a19809feab # v6.4.6
    - if: ${{ matrix.scala == 'latest' }}
      run: sbt -v
           scalafmtSbtCheck
           "++ 3.6.4!"
           "scalafmtCheckAll"
           "Test/compile"
           "test"
    - if: ${{ matrix.scala != 'latest' }}
      run: sbt -v
           scalafmtSbtCheck
           "++ ${{ matrix.scala }} -v"
           "scalafmtCheckAll"
           "Test/compile"
           "scalafixAll --check"
           "test"
  wasm:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4.7.0
      with:
        java-version: 21
        distribution: temurin
    - uses: sbt/setup-sbt@8ee7ec888f2a1af33ba66f994c4fb05aaf23e7d0 # v1.1.6
    - uses: actions/setup-node@v4
      with:
        node-version: 22
    - uses: coursier/cache-action@142d2738bd29f0eb9d44610828acb3a19809feab # v6.4.6
    - run: sbt -v
           -Dscala_js_wasm
           "project allJS"
           "+ Test/compile"
           "+ test"
  push_gh_pages:
    needs:
    - test
    - wasm
    timeout-minutes: 30
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'atnos-org' && github.ref == 'refs/heads/master' && github.event_name == 'push' }}
    steps:
    - uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4.7.0
      with:
        java-version: 8
        distribution: temurin
    - uses: sbt/setup-sbt@8ee7ec888f2a1af33ba66f994c4fb05aaf23e7d0 # v1.1.6
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - name: Install pandoc
      run: ./.github/install_pandoc.sh
    - uses: coursier/cache-action@142d2738bd29f0eb9d44610828acb3a19809feab # v6.4.6
    - name: Generate html
      run: ./.github/gen_doc.sh
    - name: Push to gh-pages
      uses: JamesIves/github-pages-deploy-action@6c2d9db40f9296374acc17b90404b6e8864128c8 # v4.7.3
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: target/specs2-reports/site
        CLEAN: true
