on:
  pull_request_target:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
jobs:
  show_doc_diff:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read
    steps:
    - uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
      with:
        java-version: 8
        distribution: temurin
    - uses: sbt/setup-sbt@26ab4b0fa1c47fa62fc1f6e51823a658fb6c760c # v1.1.7
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - name: Install pandoc
      run: ./.github/install_pandoc.sh
    - uses: coursier/cache-action@4e2615869d13561d626ed48655e1a39e5b192b3c # v6.4.7
    - name: Generate html
      run: ./.github/gen_doc.sh
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        ref: gh-pages
        path: gh-pages
    - run: |
        cp -r target/specs2-reports/site/* gh-pages/
        pushd gh-pages
        git checkout -- javascript
        git diff > diff.txt
        wc -l diff.txt
        popd
    - uses: actions/github-script@v7
      with:
        script: |
          const fs = require('fs');
          const diff = fs.readFileSync("gh-pages/diff.txt").toString();
          if (diff.length === 0) {
            console.log("no diff");
          } else {
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: "```diff\n" + diff + "\n```"
            });
          }
