on:
  pull_request_target:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
jobs:
  show_doc_diff:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read
    steps:
    - uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
      with:
        java-version: 8
        distribution: temurin
    - uses: sbt/setup-sbt@69a46ab4acd4316aa16e68d91a9249a98d7e78d5 # v1.1.8
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - name: Install pandoc
      run: ./.github/install_pandoc.sh
    - uses: coursier/cache-action@4e2615869d13561d626ed48655e1a39e5b192b3c # v6.4.7
    - name: Generate html
      run: ./.github/gen_doc.sh
